<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="/assets/styles/app.css">
    
</head>
<body>
    <div class="contenedorDeContenidos">
        <div class="contenedorPrincipal">
            <!-- <h2>Persona Juridica</h2> -->
            <div class="cardFormulario">
                <h2>Información Principal</h2>
                
                <div class="form-group">
                    <div class="input-group half-width">
                        <input type="text" placeholder="NIT">
                        <label for="">NIT</label>
                    </div>
                    <!-- <div class="input-group half-width">
                        <input type="text" placeholder="Código">
                        <label for="">Código</label>
                    </div> -->
                    <div class="input-group half-width">
                        <input type="text" placeholder="Razón Social">
                        <label for="">Razón Social</label>
                    </div>
                    <div class="input-group half-width">
                        <input type="text" placeholder="Nombre Comercial">
                        <label for="">Nombre Comercial</label>
                    </div>
                                    
                    <div class="input-group half-width">
                        <input type="text" placeholder="Teléfono">
                        <label for="">Teléfono</label>
                    </div>
                    <div class="input-group half-width">
                        <input type="text" placeholder="Celular">
                        <label for="">Celular</label>
                    </div>
                    <div class="input-group half-width">
                        <input type="e-mail" placeholder="Correo Electrónico">
                        <label for="">Correo Electrónico</label>
                    </div>
                    <div class="input-group half-width">
                        <input type="e-mail" placeholder="Correo Electrónico 2">
                        <label for="">Correo Electrónico 2</label>
                    </div>
                    <!-- <div class="input-group half-width">
                        <input type="text" placeholder="Código Dirección">
                        <label for="">Código Dirección</label>
                    </div>
                    <div class="input-group half-width">
                        <input type="text" placeholder="Código Dirección 2">
                        <label for="">Código Dirección 2</label>
                    </div> -->
                    <div class="input-group half-width">
                        <input type="date" placeholder="Fecha de Registro">
                        <label for="">Fecha de Registro</label>
                    </div>
                    
                    
                    
                        
                    <div class="input-group half-width">
                        <input type="date" placeholder="Fecha Actualización">
                        <label for="">Fecha Actualización</label>
                    </div>
                    <!-- <div class="input-group half-width">
                        <input type="text" placeholder="Estado">
                        <label for="">Estado</label>
                    </div> -->
                    <!-- <div class="buttonsForm full-width">
                        <button>Guardar</button>
                        <button>Cancelar</button>
                    </div>    -->
                </div>
            </div>
        </div>
    </div>

    
    
</body>
</html>

