<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="contenedorPrincipal">
        <div class="cardFormulario">
            <h2 class="tittleCard">Notas</h2>
            <div class="form-group">
                <div class="input-group full-width">
                    <textarea placeholder="Ingresa la Nueva Nota" rows="3" required></textarea>
                    <label for="">Nueva Nota</label>
                </div>
                <button id="buttonAttachment" disabled="disabled">Guardar</button>
            </div>
            <h2 class="h2TimeLine">Actividad Reciente</h2>
            <ul>
                <li class="timeLineItem">
                    <div class="drafTimeLine">
                        <div class="circleIconTimeLine">
                            <span class="material-symbols-outlined itemAttachment">
                                note_alt
                            </span>
                        </div>
                        <div class="lineTimeLine">
                     
                        </div>
                    </div>
                    <div class="cardTimeLine">
                        <div class="inforCardTimeLine">
                            
                            <span>Prueba de una nota para dimensionar el ancho de la misma para que no se dañee el diseño del card</span>
                            <div class="userTimeLine">
                                <div class="photoUser">
                                    <img src="" alt="User">
                                </div>
                                <span>Actividad por NombreUsuario</span>
                            </div>
                        </div>
                        <div class="activitiesTimeLine">
                            <span class="timeAgo">Hace 3 horas</span>
                            <span class="material-symbols-outlined iconTimeLine">
                                Delete
                            </span>
                        </div>
                    </div>
                </li>
                <li class="timeLineItem">
                    <div class="drafTimeLine">
                        <div class="circleIconTimeLine">
                            <span class="material-symbols-outlined itemAttachment">
                                note_alt
                            </span>
                        </div>
                        <div class="lineTimeLine">
                     
                        </div>
                    </div>
                    <div class="cardTimeLine">
                        <div class="inforCardTimeLine">
                            
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsam sunt nihil distinctio, animi tenetur nostrum excepturi nesciunt aut suscipit vero dolorem commodi incidunt magni voluptates laboriosam neque perspiciatis temporibus!</span>
                            <div class="userTimeLine">
                                <div class="photoUser">
                                    <img src="" alt="User">
                                </div>
                                <span>Actividad por NombreUsuario</span>
                            </div>
                        </div>
                        <div class="activitiesTimeLine">
                            <span class="timeAgo">Ayer</span>
                            <span class="material-symbols-outlined iconTimeLine">
                                Delete
                            </span>
                        </div>
                    </div>
                </li>
                <li class="timeLineItem">
                    <div class="drafTimeLine">
                        <div class="circleIconTimeLine">
                            <span class="material-symbols-outlined itemAttachment">
                                note_alt
                            </span>
                        </div>
                        <div class="lineTimeLine">
                     
                        </div>
                    </div>
                    <div class="cardTimeLine">
                        <div class="inforCardTimeLine">
                            
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsam sunt nihil distinctio, animi tenetur nostrum excepturi nesciunt aut suscipit vero dolorem commodi incidunt magni voluptates laboriosam neque perspiciatis temporibus!</span>
                            <div class="userTimeLine">
                                <div class="photoUser">
                                    <img src="" alt="User">
                                </div>
                                <span>Actividad por NombreUsuario</span>
                            </div>
                        </div>
                        <div class="activitiesTimeLine">
                            <span class="timeAgo">Ayer</span>
                            <span class="material-symbols-outlined iconTimeLine">
                                Delete
                            </span>
                        </div>
                    </div>
                </li>
                
            </ul>

        </div>
    </div>
</body>
</html>