/* Estilos Utilizados para los componentes Notas y Adjuntos */

.drag{
    margin: 16px 4px;
    padding: 24px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border: 1px dashed var(--texto-secundario-gris);
    border-radius: 4px;
    color: var(--texto-secundario-gris);
}

.tittleCard{
    margin-bottom: 16px;
}

.h2TimeLine {
    margin: 24px 0px;
    color: var(--gris-principal);
}   

#buttonAttachment {
    margin-top: 8px;
}

.timeLineItem{
    display: flex;
    flex-direction: row;
}

.cardTimeLine{
    width: 100%;
    max-width: 600px;
    margin: 8px 0 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    border-top: none;
    border: 1px solid var(--);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: small;
}

.nameFile {
    margin-bottom: 8px;
}

.drafTimeLine{
    position: relative;
}

.circleIconTimeLine{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--boton-principal-hover);
    color: white;
    border: none;
    position: relative;
    z-index: 1000;
}

.lineTimeLine{
    position: absolute;
    left: 12.5px; /* Centra la línea con respecto al círculo */
    top: 25px; /* Comienza desde la parte inferior del círculo */
    width: 1px; /* Ancho de la línea */
    background-color: var(--boton-principal-hover); /* Color de la línea */
    z-index: 1; /* Detrás del círculo */
    height: 90%;
    z-index: 1;
}

.itemAttachment{
    font-size: 15px !important;
}

.inforCardTimeLine{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.nameFile{
    color: var(--gris-principal);
}

.activitiesTimeLine{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.timeAgo{
    color: var(--texto-secundario-gris);
    font-style: oblique;
    font-size: smaller;
    
}

.userTimeLine{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: smaller;
}

.iconTimeLine{
    font-size: 15px !important;
    cursor: pointer;
}

.iconTimeLine:focus,
.iconTimeLine:hover {
    color: red;
}