<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForgotPassword</title>
    <link rel="stylesheet" href="/assets/styles/app.css">
</head>
<body>
    <div class="contenedorLogin">
        <div class="cardLogin">
            <h2>FENIX</h2>
            <div class="infoCard">
                <h3>Reestablecer contraseña</h3>
                <p>Ingresa tu e-mail para recibir las instrucciones y reestablecer tu contraseña</p>
                <div class="form-group">
                    <div class="input-group full-width">
                        <input type="text" id="email" placeholder="E-mail" required>
                        <label for="email">E-mail</label>
                    </div>
                    <div class="buttonsForm">
                        <button>Reestablecer Contraseña</button>
                    </div>
                </div>
                <a href="../pages/login.html">Volver a Inicio de Sesión</a>
            </div>
            
        </div>
        
    </div>
</body>
</html>