<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona Natural</title>
    <link rel="stylesheet" href="/assets/styles/app.css">
</head>
<body>
    <h2>Persona Natural</h2>
    <div class="cardPersonaNatural">
        <div class="form-group">
            <div class="input-group">
                <input type="text" placeholder="Código">
                <label for="">Código</label>
            </div>
            <div class="input-group">
                <label for="">Tipo de Documento</label>
                <select name="" id="">
                    <option value="">Tipo de Documento</option>
                    <option value="cc">Cédula de Ciudadanía</option>
                    <option value="ce">Cédula de Extranjería</option>
                    <option value="pasaporte">Pasaporte</option>
                </select>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Número de Documento">
                <label for="">Número Documento</label>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Nombres">
                <label for="">Nombres</label>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Apellidos">
                <label for="">Apellidos</label>
            </div>
        </div>
    </div>

    <script src=""></script>
</body>
</html>

